template familyInterfaceC(Configuration config, FileArtifact target, DecisionVariable family, String ifName) {

    def main(Configuration config, FileArtifact target, DecisionVariable family, String ifName) {
    	'class $ifName {'
    	''
    	'    public:'
    	''
        '    void calculate(/* put in "stream" here, may need a specific parameter interface */);'
        ''
        '    // put in methods for the parameters in here'
    	'};'
    }
    
}