template curlCall(Project source, Configuration config, FileArtifact tmpFile /*alt. Text*/) {
    
    def main() {
        #curl.exe -d "{\"com.sap.ym.services.dds\":{\"items\":[
            {\"${config.selectByName("ddsService").variables().get(1).getName()}\":\"${config.selectByName("ddsService").variables().get(1).getValue()}\"},
            {\"${config.selectByName("ddsService").variables().get(2).getName()}\":${config.selectByName("ddsService").variables().get(2).getValue()}},
            {\"${config.selectByName("ddsService").variables().get(3).getName()}\":${config.selectByName("ddsService").variables().get(3).getValue()}},
            {\"${config.selectByName("ddsService").variables().get(4).getName()}\":${config.selectByName("ddsService").variables().get(4).getValue()}},
            {\"${config.selectByName("ddsService").variables().get(5).getName()}\":${config.selectByName("ddsService").variables().get(5).getValue()}}],
            \"children\":null}}" -H "Content-Type:application/json" -H "Accept:application/json"
            https://indenicaym2.netweaver.ondemand.com/cocktail/api/resolutions/com.sap.ym.services.dds -k -i#
    }
}