<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="vil"
              icon="icons/vil_buildlang_file_icon.gif"
              id="de.uni_hildesheim.sse.VilBuildLanguage"
              name="VilBuildLanguage Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.uni_hildesheim.sse.VilBuildLanguage.validate">
         <activeWhen>
            <reference
                    definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.uni_hildesheim.sse.VilBuildLanguage" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.uni_hildesheim.sse.EASy"
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage"
            name="Variability Implementation Language (VIL)">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
        </page>
        <page
            category="de.uni_hildesheim.sse.VilBuildLanguage"
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
        </page>
        <page
            category="de.uni_hildesheim.sse.VilBuildLanguage"
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage.templates"
            name="Templates">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.uni_hildesheim.sse.EASy"
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage"
            name="Variability Implementation Language (VIL)">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"
            label="VilBuildLanguage"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.uni_hildesheim.sse.VilBuildLanguage.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.uni_hildesheim.sse.VilBuildLanguage.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="vil">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="vil">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for de.uni_hildesheim.sse.VilBuildLanguage -->
    <extension
            id="vilbuildlanguage.check.fast"
            name="VilBuildLanguage Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="vilbuildlanguage.check.normal"
            name="VilBuildLanguage Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="vilbuildlanguage.check.expensive"
            name="VilBuildLanguage Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <!-- disable the compiler settings
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.uni_hildesheim.sse.VilBuildLanguage"
            class="de.uni_hildesheim.sse.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.uni_hildesheim.sse.VilBuildLanguage"
            class="de.uni_hildesheim.sse.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.uni_hildesheim.sse.VilBuildLanguage.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.uni_hildesheim.sse.ui.keyword_VilBuildLanguage"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>-->

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.uni_hildesheim.sse.VilBuildLanguage.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for de.uni_hildesheim.sse.VilBuildLanguage -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.uni_hildesheim.sse.ui.vilbuildlanguage.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.uni_hildesheim.sse.ui.vilbuildlanguage.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.uni_hildesheim.sse.vil.buildlang.ui.VilBuildLanguageExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.uni_hildesheim.sse.ui.vilbuildlanguage.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
    <!--<extension
        point="org.eclipse.ui.newWizards">
      <wizard
            name="Instantiation Build Specification (VIL)"
            icon="icons/vil_buildlang_file_icon.gif"
            category="de.uni_hildesheim.sse.EASy_Producer"
            class="de.uni_hildesheim.sse.ui.wizards.VILFiletypeWizard"
            id="de.uni_hildesheim.sse.ui.wizards.VILFiletypeWizard">
      </wizard>
      <category
            id="de.uni_hildesheim.sse.EASy_Producer"
            name="EASy-Producer">
      </category>        
  </extension>-->
</plugin>
