@format(profile="json", indentSteps = 4, profileArg_prettyPrint = "true")
template ReadingTestTpl(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        YamlFileArtifact jfa = "testdata/artifacts/readingTest.yaml";
        YamlNode data = jfa.getDocument(0);
        Boolean hasData = data.has("Dockerfile");
        String value = data.getValue("Dockerfile");
        'value is ${value}, hasData ${hasData}'
    }
    
}
