[Unit]
Description=IIP-Ecosphere ECSRuntime

[Service]
Type=forking
PIDFile=/run/iip-ecsRuntime.pid
ExecStart=java -cp "$IIP_HOME/ecsJars/*:$IIP_HOME/common/*" -Dio.netty.tryReflectionSetAccessible=true --add-opens java.base/jdk.internal.misc=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED -Diip.pid.dir=/run "de.iip_ecosphere.platform.support.LifecycleHandler\$WaitingStarter" $*

