[Unit]
Description=IIP-Ecosphere ECSRuntime

[Service]
Type=forking
PIDFile=/run/iip-ecsRuntime.pid
ExecStart=java -cp "$IIP_HOME/ecsJars/*:$IIP_HOME/common/*" -Dio.netty.tryReflectionSetAccessible=true -Diip.pid.dir=/run "de.iip_ecosphere.platform.support.LifecycleHandler\$WaitingStarter" $*

[Install]
Requires=platform.service
