import javaLib;

@indent(indentation = 4, additional = 0)
@format(profile="java", profileArg_javadocIndent="* ", lineLength = 120, profileArg_eltSorting="CONS_ALPHA")
template JavaCode9Tpl(Configuration config, JavaCodeArtifact target) {

    def aContent() {
        'int test = 0;
        if (test >= 0) {
            System.out.println("HERE");
        }'
    }

    def main(Configuration config, JavaCodeArtifact target) {
        JavaCodeClass mainCls = target.addClass("SomeClass", "");

        mainCls.addMethod("", "doA").(m|{
            m.addRaw(aContent(), true);
        });
        
    }
    
}
