@advice(alternative5)
template alternative5(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        alternative5 cfg = config;
        if (cfg.node.fast) {
            'fast'
        } else {
            'slow'
        }
        if (cfg.nodeRef.fast) {
            'fastRef'
        } else {
            'slowRef'
        }
    }

}