template collect1(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        setOf(Integer) s = {1, 2, 3, 4, 5};
        setOf(Integer) r = s->collect(i | i * 5);
        '${r.toSequence().sortAlpha()}'
    }

}