@indent(indentation = 4, additional = 0)
template content15(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        '<project>
            <dependencies>
                ${dependencies()}
            </dependencies>
            <dependencies2>
                ${dependencies2()}
            </dependencies2>
            <plugins>
                ${plugins()}
            </plugins>
            ${dependencyManagement()}
            ${dependencyManagement2()}
        </project>'
    }
    
    def dependencies() {
        '${appendDependency("test1", "1.1")}'
        '${appendDependency("test2")}'
    }
    
    def dependencies2() {
        '${appendDependency2("test1_2", "2.1")}'
        '${appendDependency2("test2_2")}'
    }
        
    def plugins() {
        '<plugin>
            <artifact>art</artifact>
        </plugin>' | 16;
    }
    
    def appendDependency(String art, String version="") {
        '<dependency>
            <artifact>${art}</artifact>'
        if (version.length() > 0) {
        '    <version>$version</version>'
        }
        '</dependency>'
    }
    
    def appendDependency2(String art, String version="", String type="", String scope="") {
        '<dependency>
            <artifact>${art}</artifact>
            ${IF version.length() > 0}<version>$version</version>${ENDIF}
            ${IF type.length() > 0}<type>$type</type>${ENDIF}
            ${IF scope.length() > 0}<scope>$scope</scope>${ENDIF}
        </dependency>'
    }
    
    def dependencyManagement() {
        '<dependencyManagement>
            <dependencies>
                ${appendDependency("pips")}
                ${appendDependency("infra")}
            </dependencies>
        </dependencyManagement>'
    }
    
    def dependencyManagement2() {
        '<dependencyManagement2>
            <dependencies>
                ${appendDependency2("pips2")}
                ${appendDependency2("infra2")}
            </dependencies>
        </dependencyManagement2>'
    }

}