template defTest3(Configuration config, FileArtifact target, String t1, String t2="def") {

    def String cat(String s1, String s2="a") {
        "cat: " + s1 + " " + s2 + " " + t1 + " " + t2;
    }

}