import generic;

template importTest() extends generic {

    def produceContent() {
        super.produceContent();
        'import content'
    }

    def subContent() {
        'derived subContent'
    }

    def main() {
        produceContent();
        produceContent2();
        produceContent3();
    }

}