@advice(dispatch5)
template dispatch6(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        dispatch5 dp = config;
        process(dp.ref, dp.node);
        DecisionVariable var = dp.node;
        process(dp.ref, var);
    }

    def process(DecisionVariable var, DecisionVariable var2) {
        'base case ${var.name()}'
    }

    def process(DecisionVariable var, HwNode node) {
        'node ${node.name}'
    }

    def process(DecisionVariable var, MPCCNode node) {
        'mpcc ${node.name} ${node.dfe}'
    }

}