template generic() {

    Boolean switchVal = true;

    def produceContent() {
        'content'
    }

    def produceContent2() {
        'content2'
    }
    
    def produceContent3() {
        subContent();
    }
    
    def subContent() {
        'generic subContent'
    }

}