@indent(indentation = 4, additional = 0)
template hint(Configuration config, Artifact target) {

    def sub() {
        Integer val = 5;
        'val: ${val}'
    }

    def main(Configuration config, Artifact target) {
        String empty = "";
        String nonEmpty = "yyy";
        'here:
            ${sub()|<}
            ${empty|e}
            ${nonEmpty|e}
        always: true'
    }

}