@advice(adviceTestVM1)
template isValid(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        adviceTestVM1 cfg = config;
        '${cfg.intVal.isValid()}'
        '${cfg.c1.isValid()}'
    }

}