template ivml1(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        for (DecisionVariable var : config.variables()) {
            '${var.name()} = ${var.getValue()}'
            if (var.getAttribute(test::bindingTime).getIntegerValue() == 100) {
                'compile at 100'
            }
        }
        '${test::pReal.getValue()}'
        '${test::pReal}'
    }

}