@indent(indentation = 4, additional = 0)
@format(lineEnd = "Linux")
template lineEnd(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        'line1
        line2'
    }

}