template loop3(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        StringArtifact a = new StringArtifact();
        for (String s : a.selectAll(), ", ") {
            '$s' !<CR>;
        }
    }

}