@advice(qm0)
template qm0(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Family fm = config.byName("fNormalize");
        Integer size = fm.members.size();
        '$size'
    }

}