@advice(qm1_5)
template qm1_5(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Family fm = config.byName("fNormalize");
        filterTuples(fm.output(), fm.input());
    }

    def filterTuples(Tuples outputTuples, Tuples inputTuples) {
        mapOf(Tuple, Tuple) m = outputTuples.mapSequence(inputTuples);
        m.size() > 0;
    }

}