@advice(qm1)
template qm1_1(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Family fm = config.byName("fNormalize");
        for (Parameter p : fm.parameters) {
            DecisionVariable tmp = p;
            'System.out.print("${tmp.type()}");'
        }
    }

}