@advice(qm1)
template qm1_2(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Family fm = config.byName("fNormalize");
        for (Parameter p : fm.parameters()->select(p | p.name().length() > 0)) {
            DecisionVariable tmp = p;
            'System.out.print("${tmp.type()}");'
        }
    }

}