@advice(sequence2)
template sequence2(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        sequence2 cfg = config;
        setOf(Machine) available = cfg.machines->select(Machine m | m.available and m.role == MachineRole.Worker);
        for (Machine mach : available) {
            '${mach.name}'
        }
    }

}