@advice(SortModel)
template sort(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        SortModel model = config;
        sequenceOf(Element) res = model.elts->sort(Element e | e.capacity);
        for (Element e : res) {
            '${e.capacity}'
        }
    }

}