template string1() {

    def main() {
        String familyName = "fAdd10";
        Integer end = familyName.length() - 1;
        String aName = familyName.substring(1, end);
        '$familyName'
        '$aName'
        end = familyName.length();
        aName = familyName.substring(1, end);
        '$familyName'
        '$aName'
        String lowerTest = "ABBA";
        String upperTest = "aBBa";
        '${lowerTest.firstToLowerCase()} ${lowerTest.firstToLower()}'
        '${lowerTest.lastToLowerCase()} ${lowerTest.lastToLower()}'
        '${upperTest.firstToUpperCase()} ${upperTest.firstToUpper()}'
        '${upperTest.lastToUpperCase()} ${upperTest.lastToUpper()}'
        String trimTest = "  ab  ";
        '${trimTest.trim()}'
        String matchTest = "I test for a certain match.";
        '${matchTest.substringBefore("I")}'
        '${matchTest.substringBefore("test")}'
        '${matchTest.substringBefore("test1")}'
        '${matchTest.substringAfter("test")}'
        '${matchTest.substringAfter("test1")}'
        '${matchTest.substringAfter("match.")}'
        String normalizeTest = " I  test   for  normalization. ";
        '${normalizeTest.normalizeSpace()}'
        Boolean b = "123".matchInteger();
        b = "123a".matchInteger();
        b = "123".matchReal();
        b = "123.23".matchReal();
        b = "123a".matchReal();
        b = "true".matchBoolean();
        b = "false".matchBoolean();
        b = "123a".matchBoolean();
        b = "var".matchIdentifier();
        b = "var 1".matchIdentifier();
        String findTest = "find here, find there";
        Integer i = findTest.find("find");
        i = findTest.rfind("find");
        b = findTest.isQuoted("\"");
        String q = findTest.quotify("\"");
        String u = q.unquotify("\"");
    }

}