template switch1() {

    def main() {
        String familyName = "fAdd10";
        Integer end = familyName.length() - 1;
        String aName = familyName.substring(1, end);
        '$familyName'
        '$aName'
        end = familyName.length();
        aName = familyName.substring(1, end);
        '$familyName'
        '$aName'
    }

}