template variables(Configuration config, Artifact target) {

    String s = target.name();
    Integer i = 1;
    Real r = 1.1;
    Boolean b = false;

    def main(Configuration config, Artifact target) {
        String s1 = target.name();
    }

}