template whileLoop1(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        Integer i = 0;
        while (i > 0) {
            'loop $i'
            i = i + 1;
        }
    }

}