<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="IRET integration (testing)"
            id="TestIret.commands.category">
      </category>
      <command
            categoryId="TestIret.commands.category"
            id="test.commands.testIret"
            name="Test IRET Integration Magic">
      </command>
      <command
            categoryId="TestIret.commands.category"
            id="test.commands.testUniVie"
            name="Test UniVie Integration Magic">
      </command>
      <command
            categoryId="TestIret.commands.category"
            id="test.commands.testUniVie2"
            name="Test UniVie Integration Magic 2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="test.commands.testIret"
            class="test.handlers.TestIretCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="test.commands.testUniVie"
            class="test.handlers.TestUniVieCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="test.commands.testUniVie2"
            class="test.handlers.TestUniVieCommand2">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu label="IVML Integration Tests"
               mnemonic="M"
               id="test.integration.menu">
            <command commandId="test.commands.testIret"
                  mnemonic="I"
                  id="test.menus.iretCommand">
            </command>
            <command commandId="test.commands.testUniVie"
                  mnemonic="U"
                  id="test.menus.uniVieCommand">
            </command>
            <command commandId="test.commands.testUniVie2"
                  mnemonic="V"
                  id="test.menus.uniVieCommand2">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="test.toolbars.ivmlIntegrationTest">
            <command commandId="test.commands.testIret"
                  icon="icons/sample.gif"
                  tooltip="Test IRET Integration"
                  id="test.toolbars.iretCommand">
            </command>
            <command commandId="test.commands.testUniVie"
                  icon="icons/sample.gif"
                  tooltip="Test UniVie Integration (run IRET before)"
                  id="test.toolbars.uniVieCommand">
            </command>
            <command commandId="test.commands.testUniVie2"
                  icon="icons/sample.gif"
                  tooltip="Test UniVie Integration (Ioanna)"
                  id="test.toolbars.uniVieCommand2">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
