template alternative1(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Boolean exists = false;
        if (exists) {
            Integer i = 5;
        } else {
            Integer i = 6;
        }
    }

}