template attribute(Configuration config, FileArtifact target, IvmlElement bindingTime) {

    def main(Configuration config, FileArtifact target, IvmlElement bindingTime) {
        Boolean hasEnabledElements = false;
        for (DecisionVariable v : config.variables(), ",\n\n") {
            Boolean isEnabled = (v.element("bindingTime").value() == bindingTime);
            '${v.name()}("", ${v.value()}, ${v.element("bindingTime").value() == bindingTime})' !<CR> | 4;
        }
    }

}