template compoundFailTest(Configuration config, FileArtifact target) {

    abstract compound MyCompound {
        Integer a = 1;
    }
    
    compound MyCompound1 refines MyCompound {
        String b = "5";
    }

    def main(Configuration config, FileArtifact target) {
        MyCompound c0 = new MyCompound();
        MyCompound c1;
        c1.b = 7;
    }

}