template compoundFailTest1(Configuration config, FileArtifact target) {

    compound MyCompound {
        Integer a = 1;
    }
    
    compound MyCompound {
        String a = "";
    }

    def main(Configuration config, FileArtifact target) {
    }

}