import parameter;

template derived(Configuration config, Artifact target) extends parameter {

    def main(Configuration config, Artifact target) {
        super.main(config, target);
    }

}