template parameter2(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        setOf(String) res1 = ret();
    }

    def setOf(String) ret() {
        setOf(String) res = {};
        res;
    }

}