template switch4(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        switch(target.name()) {
            "a" : "a1",
            "b" : "b1",
            default : "a1"
        }
    }

}