template switch5(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        switch(target.name()) {
            "a" + VALUE : VALUE,
            "b" : "b1",
            default : "a1"
        }
    }

}