template whileLoop2(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        Boolean goOn = true;
        while (goOn) {
            goOn = false;
        }
    }

}