template whileLoopFail(Configuration config, Artifact target) {

    def main(Configuration config, Artifact target) {
        Boolean goOn = true;
        while ("test") {
            goOn = false;
        }
    }

}