template signalListener(Configuration config, FileArtifact target) {
 def main(Configuration config, FileArtifact target) {
 'package eu.qualimaster.signal;'
 ''
 '/**'
 '* Create the signal listener interface.'
 '**/'
 'public interface SignalListener {'
 '    void onSignal(byte[] data);'
 '}'
 }
}