[Unit]
Description=IIP-Ecosphere Service Manager

[Service]
Type=forking
PIDFile=/run/iip-serviceMgr.pid
ExecStart=java -cp "$IIP_HOME/svcJars/*" --add-opens java.base/jdk.internal.misc=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED -Dio.netty.tryReflectionSetAccessible=true -Diip.pid.dir=/run "de.iip_ecosphere.platform.support.LifecycleHandler\$WaitingStarter" $*

