<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_hildesheim.sse.EASy_Producer"
            name="EASy-Producer">
      </category>
      <wizard
            category="de.uni_hildesheim.sse.EASy_Producer"
            class="de.uni_hildesheim.sse.easy.ui.internal.NewEASyProjectWizard"
            icon="icons/logo_icon.gif"
            id="de.uni_hildesheim.sse.plugin.wizards.PLuginNewWizard"
            name="EASy-Producer Product Line Project"
            project="true">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_hildesheim.sse.easy.ui.productline_editor.Editor"
            contributorClass="de.uni_hildesheim.sse.easy.ui.productline_editor.ProductLineConfigurationEditorContributor"
            icon="icons/logo_icon.gif"
            id="de.uni_hildesheim.sse.easy_producer.ProductLineConfigurationEditor.new"
            name="Product Line Configuration Editor">
      </editor>
   </extension>
   <extension
         id="de.uni_hildesheim.sse.EASy-Producer"
         name="EASy-Producer 2.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.uni_hildesheim.sse.easy_producer.persistency.eclipse.EASyNature">
         </run>
      </runtime>
   </extension>
   <extension point="org.eclipse.ui.startup">
     <startup class="de.uni_hildesheim.sse.easy.ui.internal.Startup"/>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.uni_hildesheim.sse.easy_producer.popUpMenu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.uni_hildesheim.sse.easy.ui.internal.EditProductLineAction"
               enablesFor="1"
               icon="icons/logo_icon.gif"
               id="de.uni_hildesheim.sse.easy_producer.editProductlineAction"
               label="Edit Product Line"
               menubarPath="additions">
         </action>
         <filter
             name="nature"
             value="de.uni_hildesheim.sse.EASy-Producer">
         </filter>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtext.builder.addNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.uni_hildesheim.sse.easy.ui.internal.ToggleEASyNatureAction"
               icon="icons/logo_icon.gif"
               id="de.uni_hildesheim.sse.easy_producer.AddEASyNatureAction"
               label="Add EASy-Producer Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               >
         </action>
         <visibility>
            <not>
                <objectState
                      name="nature"
                      value="de.uni_hildesheim.sse.EASy-Producer">
                </objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.xtext.builder.removeNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.uni_hildesheim.sse.easy.ui.internal.ToggleEASyNatureAction"
               icon="icons/logo_icon.gif"
               id="de.uni_hildesheim.sse.easy_producer.RemoveEASyNatureAction"
               label="Remove EASy PLE Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               >
         </action>
         <visibility>
               <objectState
                      name="nature"
                      value="de.uni_hildesheim.sse.EASy-Producer">
                </objectState>
         </visibility>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/PL_over.gif"
            id="de.uni_hildesheim.sse.easy_producer.EASyNature.overlay"
            label="EASy PRoducer 2.0"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectState
                  name="nature"
                  value="de.uni_hildesheim.sse.EASy-Producer">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="de.uni_hildesheim.sse.easy.ui.configuration.MainPreferencePage"
            id="de.uni_hildesheim.sse.EASy"
            name="EASy-Producer">
      </page>
      <page
            category="de.uni_hildesheim.sse.EASy"
            class="de.uni_hildesheim.sse.easy.ui.reasoner.ReasonerPreferencePage"
            id="de.uni_hildesheim.sse.EASy.reasoners"
            name="Reasoners">
      </page>
      <page
            category="de.uni_hildesheim.sse.EASy"
            class="de.uni_hildesheim.sse.easy.ui.configuration.GlobalPathPreferencePage"
            id="de.uni_hildesheim.sse.EASy.paths"
            name="Model paths">
      </page>
       <page
            category="de.uni_hildesheim.sse.EASy"
            class="de.uni_hildesheim.sse.easy.ui.configuration.VtlArgumentProviderPreferencePage"
            id="de.uni_hildesheim.sse.EASy.paths"
            name="VTL Argument Provider">
      </page>
      <page
            category="de.uni_hildesheim.sse.EASy/de.uni_hildesheim.sse.Ivml"
            class="de.uni_hildesheim.sse.easy.ui.configuration.IvmlIndentationPreferencePage"
            id="de.uni_hildesheim.sse.easy.ui.configuration.IvmlIndentationPreferencePage"
            name="Indentation">
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.propertyPages">
     <page
        class="de.uni_hildesheim.sse.easy.ui.configuration.MainPropertyPage"
        id="de.uni_hildesheim.sse.EASy"
        name="EASy-Producer">
     </page>
     <page
        category="de.uni_hildesheim.sse.EASy"
        name="Model paths"
        class="de.uni_hildesheim.sse.easy.ui.configuration.PathPropertyPage"
        id="de.uni_hildesheim.sse.easy.ui.configuration.ProjectConfigurationPage">
     </page>
   </extension>

</plugin>