[Unit]
Description=IIP-Ecosphere Ecs Runtime/Service Manager

[Service]
WorkingDirectory=/opt/iip/gen
Type=simple
Restart=on-failure
KillMode=control-group
PIDFile=/run/iip-ecsServiceMgr.pid
ExecStart=/opt/iip/java -cp "ecsSvcJars/*:common/*" -Dio.netty.tryReflectionSetAccessible=true -Dlog4j2.formatMsgNoLookups=true -Diip.pid.dir=/run "de.iip_ecosphere.platform.support.LifecycleHandler$WaitingStarter"

[Install]
WantedBy=multi-user.target
