[Unit]
Description=IIP-Ecosphere ECSRuntime

[Service]
WorkingDirectory=/opt/iip/gen
Type=simple
Restart=on-failure
KillMode=control-group
PIDFile=/run/iip-ecsRuntime.pid
ExecStart=/opt/iip/java -cp "ecsJars/*:common/*" -Dio.netty.tryReflectionSetAccessible=true -Dlog4j2.formatMsgNoLookups=true -Diip.pid.dir=/run "de.iip_ecosphere.platform.support.LifecycleHandler$WaitingStarter"

[Install]
WantedBy=multi-user.target
