template signalHandler(Configuration config, FileArtifact target) {
	def main(Configuration config, FileArtifact target) {
	'package eu.qualimaster.signal;'
    ''
    'public class SignalHandler {'
	
	'    public static void handle(String signal) {'
	''	
	'    }'
    '}'
	}

}