@advice(adviceTestVIL1)
template test3(Configuration config, FileArtifact target, TestCompound comp) {

    def main(Configuration config, FileArtifact target, TestCompound comp) {
        'myContent ${comp.iVal}'
    }

}