template test1(Configuration config, FileArtifact target) {

    def main(Configuration config, FileArtifact target) {
        Boolean var = true;
        '${IF var}myContent${ELSE}otherContent${ENDIF}'
        '${IF !var}myContent${ELSE}otherContent${ENDIF}'
    }

}