template test(Configuration config, FileArtifact target, mapOf(String, Integer) data) {

    def main(Configuration config, FileArtifact target, mapOf(String, Integer) data) {
        'myContent ${data}'
    }

}