template vtlLib(Configuration config, FileArtifact target) {

    def Boolean doSomething() {
        true;
    }
    
    def String masterTable() {
        "master";
    }
    
    def String asName(String s) {
        s;
    }

}