<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="de.uni_hildesheim.sse.ivml.comments.editor.CommentsEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="text"
              icon="icons/comments_file_icon.gif"
              id="de.uni_hildesheim.sse.ivml.CommentsEditor"
              name="IVML Comments Editor">
        </editor>
    </extension>
</plugin>
